SQLALCHEMY_DATABASE_URL=postgresql://{username}:{password}@db/{db name}

# JWT Settings
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# Storage
MAX_STORAGE_BYTES=21474836480  # 20GB in bytes
DATA_DIR=/app/data
FILE_WRITER_CHUNK_SIZE=1

# Celery & Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Path
CPG_INFO_FILE=/app/data/global/cpg_info.csv
NEMO_SCRIPT_FILE=/app/tasks/helper_scripts/run_nemo.R
SAMPLE_FILE=/app/data/global/sample